POLYGON_KEY=[YOUR_KEY_HERE]
ALPACA_KEY=[YOUR_KEY_HERE]
ALPACA_SECRET=[YOUR_SECRET_HERE]
FRED_KEY=[YOUR_KEY_HERE]
NEWSAPI_KEY=[YOUR_KEY_HERE]
BARCHART_KEY=[YOUR_KEY_HERE]
DB_URL=postgresql://postgres:alphaflow@localhost:5432/alphaflow
KAFKA_BOOTSTRAP=localhost:9092
